---
import BaseLayout from "../layouts/BaseLayout.astro"

const title = "Armagan Senol - About"
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>About</h1>
    <p>This is just an example page</p>
  </div>
</BaseLayout>
